body {
    background-color: #f0eae7;
}

img {
    width: 68px;
    height: 72px;
}

a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #001858;
    padding: 5px;
}

a:hover {
    background: #f582ae;
    color: #fff;
}

a:visited {
    color: #000;
}

div {
    background-color: #f3d2c1;
    width: 60vw;
    height: 100%;
    margin: 10px auto;
    box-shadow: 2px 2px 5px;
    padding: 7px;
}

h1 {
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Palanquin Dark', sans-serif;
}

h3 {
    font-family: 'Palanquin Dark', sans-serif;
}

p,
li {
    font-family: 'Pontano Sans', sans-serif;

}