* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.principal {
    background-color: #f3d2c1;
}

section {
    background-color: #fef6e4;
    border-radius: 10px;
    margin: 5px 0px;
}

.container {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

.horario {
    margin-top: 20px;
    margin-left: 20px;
}

.estacion {
    margin: 5px auto;

}

.cabecera{
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

h3 {
    margin-bottom: 10px;
    font-family: 'Palanquin Dark', sans-serif;
    border-bottom: 1px solid #f582ae;
}

h4 {
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Palanquin Dark', sans-serif;
    border-bottom: 1px solid #f582ae;
}

.web {
    margin-left: 20px;
    margin-top: 5px;
}

p {
    margin-bottom: 5px;
}

.text {
    font-family: 'Pontano Sans', sans-serif;
}

/* imagenes */
.container img {
    width: 45%;
    padding: 16px;
    float: left;
}

.container .text {
    width: 45%;
    padding: 16px;
    float: left;
}


.container::after {
    content: "";
    clear: both;
    display: table;
}



@media (max-width: 720px) {
    header {
        text-align: center;
    }

    .container,
    article {
        width: 90%;
        padding: 8px;
        margin: auto;
    }

    .horario {
        width: 90%;
        height: auto;
    }

    .container img {
        width: 100%;
   
    }

    .container .text {
        width: 100%;

    }
}

@media (max-width: 390px) {
    header {
        text-align: center;
    }

    .container,
    article {
        width: 90%;
        padding: 8px;
        margin: auto;
    }

    .horario {
        width: 90%;
        height: auto;
    }

    .container img {
        width: 100%;
   
    }

    .container .text {
        width: 100%;

    }
}